# **EDA** Analysis on Heart Disease
We are going to peroform EDA on Heart Disease dataset.
This is going to predict wheather a patient has heart disease based on a set of medical attributes.

# **OBJECTIVE:**


1. Importing all required Libraries
2. Uploading and reading csv file
3. Identifying missing and null values
4. Data cleaning and transformation
5. Visualization and Data presentation

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import kagglehub

This code imports the necessary libraries for data analysis and visualization:

pandas is used for data manipulation and analysis.
numpy is used for numerical operations.
matplotlib.pyplot is used for creating static visualizations.
seaborn is a statistical data visualization library based on matplotlib.
kagglehub is likely for accessing datasets from Kaggle.

In [1]:
!git clone 'https://github.com/shreysisodiya/21projectsdataset'

Cloning into '21projectsdataset'...
remote: Enumerating objects: 21, done.
remote: Counting objects: 100% (21/21), done.
remote: Compressing objects: 100% (19/19), done.
remote: Total 21 (delta 5), reused 17 (delta 1), pack-reused 0 (from 0)
Receiving objects: 100% (21/21), 1.41 MiB | 7.38 MiB/s, done.
Resolving deltas: 100% (5/5), done.

In [3]:
heartdisease_df = pd.read_csv('/content/21projectsdataset/heart_disease_uci.csv')

In [4]:
heartdisease_df.head()

,id,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,1,63,Male,Cleveland,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,2,67,Male,Cleveland,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2
2,3,67,Male,Cleveland,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
3,4,37,Male,Cleveland,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0
4,5,41,Female,Cleveland,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0

In [5]:
heartdisease_df.tail()

,id,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
915,916,54,Female,VA Long Beach,asymptomatic,127.0,333.0,True,st-t abnormality,154.0,False,0.0,NaN,NaN,NaN,1
916,917,62,Male,VA Long Beach,typical angina,NaN,139.0,False,st-t abnormality,NaN,NaN,NaN,NaN,NaN,NaN,0
917,918,55,Male,VA Long Beach,asymptomatic,122.0,223.0,True,st-t abnormality,100.0,False,0.0,NaN,NaN,fixed defect,2
918,919,58,Male,VA Long Beach,asymptomatic,NaN,385.0,True,lv hypertrophy,NaN,NaN,NaN,NaN,NaN,NaN,0
919,920,62,Male,VA Long Beach,atypical angina,120.0,254.0,False,lv hypertrophy,93.0,True,0.0,NaN,NaN,NaN,1

In [6]:
heartdisease_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        920 non-null    int64
 1   age       920 non-null    int64
 2   sex       920 non-null    object
 3   dataset   920 non-null    object
 4   cp        920 non-null    object
 5   trestbps  861 non-null    float64
 6   chol      890 non-null    float64
 7   fbs       830 non-null    object
 8   restecg   918 non-null    object
 9   thalch    865 non-null    float64
 10  exang     865 non-null    object
 11  oldpeak   858 non-null    float64
 12  slope     611 non-null    object
 13  ca        309 non-null    float64
 14  thal      434 non-null    object
 15  num       920 non-null    int64
dtypes: float64(5), int64(3), object(8)
memory usage: 115.1+ KB

From above we can understand that the data we have is in different formats


*   Interger(3)
*   Object(8)
*   Float(5)

In [ ]:
heartdisease_df.isna().sum()

id            0
age           0
sex           0
dataset       0
cp            0
trestbps     59
chol         30
fbs          90
restecg       2
thalch       55
exang        55
oldpeak      62
slope       309
ca          611
thal        486
num           0
dtype: int64

We have obtained the total sum of null values present in the data

In [ ]:
heartdisease_df.describe()

,id,age,trestbps,chol,thalch,oldpeak,ca,num
count,920.000000,920.000000,861.000000,890.000000,865.000000,858.000000,309.000000,920.000000
mean,460.500000,53.510870,132.132404,199.130337,137.545665,0.878788,0.676375,0.995652
std,265.725422,9.424685,19.066070,110.780810,25.926276,1.091226,0.935653,1.142693
min,1.000000,28.000000,0.000000,0.000000,60.000000,-2.600000,0.000000,0.000000
25%,230.750000,47.000000,120.000000,175.000000,120.000000,0.000000,0.000000,0.000000
50%,460.500000,54.000000,130.000000,223.000000,140.000000,0.500000,0.000000,1.000000
75%,690.250000,60.000000,140.000000,268.000000,157.000000,1.500000,1.000000,2.000000
max,920.000000,77.000000,200.000000,603.000000,202.000000,6.200000,3.000000,4.000000

In [ ]:
#mean_trestbps = heartdisease_df['trestbps'].mean()

In [7]:
heartdisease_df['trestbps'].fillna(heartdisease_df['trestbps'].mean(), inplace=True)
print("Missing values after filling 'trestbps':")
print(heartdisease_df.isnull().sum())

Missing values after filling 'trestbps':
id            0
age           0
sex           0
dataset       0
cp            0
trestbps      0
chol         30
fbs          90
restecg       2
thalch       55
exang        55
oldpeak      62
slope       309
ca          611
thal        486
num           0
dtype: int64

/tmp/ipython-input-730825913.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  heartdisease_df['trestbps'].fillna(heartdisease_df['trestbps'].mean(), inplace=True)

the codeabove fills  the missing values in the trestbps column of the heartdisease_df DataFrame with the mean of the existing values in that column. The inplace=True argument modifies the DataFrame directly. It also prints the count of missing values for each column after filling trestbps.

In [ ]:
#heartdisease_df.fillna(mean_trestbps)

,id,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,1,63,Male,Cleveland,typical angina,145.000000,233.0,True,lv hypertrophy,150.000000,False,2.300000,downsloping,0.000000,fixed defect,0
1,2,67,Male,Cleveland,asymptomatic,160.000000,286.0,False,lv hypertrophy,108.000000,True,1.500000,flat,3.000000,normal,2
2,3,67,Male,Cleveland,asymptomatic,120.000000,229.0,False,lv hypertrophy,129.000000,True,2.600000,flat,2.000000,reversable defect,1
3,4,37,Male,Cleveland,non-anginal,130.000000,250.0,False,normal,187.000000,False,3.500000,downsloping,0.000000,normal,0
4,5,41,Female,Cleveland,atypical angina,130.000000,204.0,False,lv hypertrophy,172.000000,False,1.400000,upsloping,0.000000,normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,916,54,Female,VA Long Beach,asymptomatic,127.000000,333.0,True,st-t abnormality,154.000000,False,0.000000,132.132404,132.132404,132.132404,1
916,917,62,Male,VA Long Beach,typical angina,132.132404,139.0,False,st-t abnormality,132.132404,132.132404,132.132404,132.132404,132.132404,132.132404,0
917,918,55,Male,VA Long Beach,asymptomatic,122.000000,223.0,True,st-t abnormality,100.000000,False,0.000000,132.132404,132.132404,fixed defect,2
918,919,58,Male,VA Long Beach,asymptomatic,132.132404,385.0,True,lv hypertrophy,132.132404,132.132404,132.132404,132.132404,132.132404,132.132404,0
919,920,62,Male,VA Long Beach,atypical angina,120.000000,254.0,False,lv hypertrophy,93.000000,True,0.000000,132.132404,132.132404,132.132404,1

In [ ]:
heartdisease_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        920 non-null    int64
 1   age       920 non-null    int64
 2   sex       920 non-null    object
 3   dataset   920 non-null    object
 4   cp        920 non-null    object
 5   trestbps  920 non-null    float64
 6   chol      890 non-null    float64
 7   fbs       830 non-null    object
 8   restecg   918 non-null    object
 9   thalch    865 non-null    float64
 10  exang     865 non-null    object
 11  oldpeak   858 non-null    float64
 12  slope     611 non-null    object
 13  ca        309 non-null    float64
 14  thal      434 non-null    object
 15  num       920 non-null    int64
dtypes: float64(5), int64(3), object(8)
memory usage: 115.1+ KB

In [ ]:
#heartdisease_df['fbs'].fillna(heartdisease_df['fbs'].mode(),inplace=True)
heartdisease_df['fbs'].fillna(heartdisease_df['fbs'].mode()[0], inplace=True)
print("Missing values after filling 'fbs':")
print(heartdisease_df.isnull().sum())

Missing values after filling 'fbs':
id            0
age           0
sex           0
dataset       0
cp            0
trestbps      0
chol         30
fbs           0
restecg       2
thalch       55
exang        55
oldpeak      62
slope       309
ca          611
thal        486
num           0
dtype: int64

/tmp/ipython-input-1593852255.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  heartdisease_df['fbs'].fillna(heartdisease_df['fbs'].mode()[0], inplace=True)
/tmp/ipython-input-1593852255.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  heartdisease_df['fbs'].fillna(heartdisease_df['fbs'].mode()[0], inplace=True)

This code fills the missing values in the fbs column of the heartdisease_df DataFrame with the mode (most frequent value) of the existing values in that column. The inplace=True argument modifies the DataFrame directly. It then prints the count of missing values for each column after filling fbs.

In [ ]:
heartdisease_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        920 non-null    int64
 1   age       920 non-null    int64
 2   sex       920 non-null    object
 3   dataset   920 non-null    object
 4   cp        920 non-null    object
 5   trestbps  920 non-null    float64
 6   chol      890 non-null    float64
 7   fbs       920 non-null    bool
 8   restecg   918 non-null    object
 9   thalch    865 non-null    float64
 10  exang     865 non-null    object
 11  oldpeak   858 non-null    float64
 12  slope     611 non-null    object
 13  ca        309 non-null    float64
 14  thal      434 non-null    object
 15  num       920 non-null    int64
dtypes: bool(1), float64(5), int64(3), object(7)
memory usage: 108.8+ KB

In [ ]:
heartdisease_df['thalch'].fillna(heartdisease_df['thalch'].mean(),inplace=True)
print(heartdisease_df.isnull().sum())

id            0
age           0
sex           0
dataset       0
cp            0
trestbps      0
chol         30
fbs           0
restecg       2
thalch        0
exang        55
oldpeak      62
slope       309
ca          611
thal        486
num           0
dtype: int64

/tmp/ipython-input-706991361.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  heartdisease_df['thalch'].fillna(heartdisease_df['thalch'].mean(),inplace=True)

This code fills the missing values in the thalch column of the heartdisease_df DataFrame with the mean of the existing values in that column. The inplace=True argument modifies the DataFrame directly. It then prints the count of missing values for each column after filling thalch.

In [ ]:
heartdisease_df['exang'].fillna(heartdisease_df['exang'].mode()[0],inplace=True)
print(heartdisease_df.isnull().sum())

id            0
age           0
sex           0
dataset       0
cp            0
trestbps      0
chol         30
fbs           0
restecg       2
thalch        0
exang         0
oldpeak      62
slope       309
ca          611
thal        486
num           0
dtype: int64

/tmp/ipython-input-566298194.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  heartdisease_df['exang'].fillna(heartdisease_df['exang'].mode()[0],inplace=True)
/tmp/ipython-input-566298194.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  heartdisease_df['exang'].fillna(heartdisease_df['exang'].mode()[0],inplace=True)

This code fills the missing values in the exang column of the heartdisease_df DataFrame with the mode (most frequent value) of the existing values in that column. The inplace=True argument modifies the DataFrame directly. It then prints the count of missing values for each column after filling exang.

In [ ]:
heartdisease_df['oldpeak'].fillna(heartdisease_df['oldpeak'].mean(),inplace=True)
print(heartdisease_df.isnull().sum())

id            0
age           0
sex           0
dataset       0
cp            0
trestbps      0
chol         30
fbs           0
restecg       2
thalch        0
exang         0
oldpeak       0
slope       309
ca          611
thal        486
num           0
dtype: int64

/tmp/ipython-input-3071762887.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  heartdisease_df['oldpeak'].fillna(heartdisease_df['oldpeak'].mean(),inplace=True)

This code fills the missing values in the oldpeak column of the heartdisease_df DataFrame with the mean of the existing values in that column. The inplace=True argument modifies the DataFrame directly. It then prints the count of missing values for each column after filling oldpeak.

In [ ]:
heartdisease_df.dropna(subset=['chol'],inplace=True)
print(heartdisease_df.isnull().sum())

id            0
age           0
sex           0
dataset       0
cp            0
trestbps      0
chol          0
fbs           0
restecg       2
thalch        0
exang         0
oldpeak       0
slope       287
ca          582
thal        458
num           0
dtype: int64

This code removes rows from the DataFrame where the chol column has a missing value. The inplace=True argument modifies the DataFrame directly. It then prints the count of missing values for each column after dropping these rows.

In [ ]:
heartdisease_df['slope'].fillna(heartdisease_df['slope'].mode()[0],inplace=True)
print(heartdisease_df.isnull().sum())

id            0
age           0
sex           0
dataset       0
cp            0
trestbps      0
chol          0
fbs           0
restecg       2
thalch        0
exang         0
oldpeak       0
slope         0
ca          582
thal        458
num           0
dtype: int64

/tmp/ipython-input-326594696.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  heartdisease_df['slope'].fillna(heartdisease_df['slope'].mode()[0],inplace=True)

This code fills the missing values in the slope column of the heartdisease_df DataFrame with the mode (most frequent value) of the existing values in that column. The inplace=True argument modifies the DataFrame directly. It then prints the count of missing values for each column after filling slope.

In [ ]:
heartdisease_df['ca'].fillna(heartdisease_df['ca'].mean(),inplace=True)
print(heartdisease_df.isnull().sum())

id            0
age           0
sex           0
dataset       0
cp            0
trestbps      0
chol          0
fbs           0
restecg       2
thalch        0
exang         0
oldpeak       0
slope         0
ca            0
thal        458
num           0
dtype: int64

/tmp/ipython-input-451230654.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  heartdisease_df['ca'].fillna(heartdisease_df['ca'].mean(),inplace=True)

This code fills the missing values in the slope column of the heartdisease_df DataFrame with the mode (most frequent value) of the existing values in that column. The inplace=True argument modifies the DataFrame directly. It then prints the count of missing values for each column after filling slope.

In [ ]:
heartdisease_df['thal'].fillna(heartdisease_df['thal'].mode()[0],inplace=True)
print(heartdisease_df.isnull().sum())
#

id          0
age         0
sex         0
dataset     0
cp          0
trestbps    0
chol        0
fbs         0
restecg     2
thalch      0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
num         0
dtype: int64

*italicized text*This code fills the missing values in the thal column of the heartdisease_df DataFrame with the mode (most frequent value) of the existing values in that column. The inplace=True argument modifies the DataFrame directly. It then prints the count of missing values for each column after filling thal.

In [ ]:
heartdisease_df.dropna(subset=['restecg'],inplace=True)
print(heartdisease_df.isnull().sum())

id          0
age         0
sex         0
dataset     0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalch      0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
num         0
dtype: int64

This code removes rows from the DataFrame where the restecg column has a missing value. The inplace=True argument modifies the DataFrame directly. It then prints the count of missing values for each column after dropping these rows.